<div class="row center" style="padding-bottom: 3em; padding-top: .5em;">

    <button class="btn blue" style="margin-right: 1em;">
      <a class='white-text' href={% url 'homepage' %}>
      Home
      </a>
    </button>

    <button class="btn blue">
      <a class='white-text' href={% url 'tweetpost' %}>
      Tweet
      </a>
    </button>

    <button class="btn blue">
      <a class='white-text' href={% url 'notifications' %}>
      Notifications
      </a>
    </button>

    <div class="btn blue" style="margin-left: 1em;">
    <a class='white-text' href={% url 'logout' %}>
      Logout
    </a>
    </div>


</div>