<div class="row center" style="padding-bottom: 3em; padding-top: .5em;">

    <a class='white-text' href={% url 'homepage' %}>
      <button class="btn blue" style="margin-right: 1em;">
        Home
      </button>
    </a>

    <a class='white-text' href={% url 'tweetpost' %}>
      <button class="btn blue">
        Tweet
      </button>
    </a>

    <a class='white-text' href={% url 'logout' %}>
      <button class="btn blue" style="margin-left: 1em;">
        Logout
     </button>
    </a>


</div>