{% include "head.html"%}
{% include "header.html"%}

<div class="container">
  <div class="row">

    <div class="col s4">
      <div class="row">
        {% include "user_detail.html"  %}
      </div>
      <div class="row">
        <div class="valign-wrapper">
          <button class="btn blue">
            <a class='white-text' href={% url 'notifications' %}>
            Notifications
            </a>
          </button>
          
          {% if notifications.count >= 1%}
            <span class="new badge red left center">{{notifications.count}}</span>
          {% endif %}
          </div>

        </div>

    </div>



    <div class="col s8">
      {% include "tweet_list.html" with tweets=all_tweets %}
    </div>
</div>


</div>